/*********/
/* FONTS */
/*********/



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#fff;
	--color-main-background:#3A0CA3;
	--color-mycards-background:#4CC9F0;

	--color-bingo: #F72585;
	--color-party: #4CC9F0;
	--color-ball: #ffd000;
	--color-shadow: #2B0F6A;
	--color-button: #F72585;
}





/********/
/* BODY */
/********/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;

  	color: var(--color-main);
  	background-color: var(--color-main-background);
}

/* jouw code */
h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 2.75em;

	margin: .2em 0 0 0;

	text-shadow: 0 .2em .2em var(--color-shadow);
}

h1 span:first-of-type {
	color: var(--color-bingo);
}

h1 span:nth-of-type(2) {
	font-family: calgary-script-ot, sans-serif;
	font-weight: 400;
	color: var(--color-party);

	transform: translateY(-.6em);
}

h1 span:first-of-type, 
h2, 
h3,
button,
li {
	font-family: sofia-pro-soft, sans-serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	margin:  0 0 .5em 0;

	font-size: clamp(1.8em, 6vw, 2em);
}

h3 { /* bingo ball */
	position: relative;

	height: fit-content;

	margin: .2em;
	padding: .3em .4em;

	font-size: 4em;
	background-color: var(--color-ball);
	border-radius: 100%;
}

h3::after {
	content: '';

	position: absolute;
	z-index: -1;

	bottom: -.25em;
	left: 0;
	right: 0;

	width: 2em;
	height: .6em;
	border-radius: 100%;
	background-color: var(--color-shadow);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;

	padding: 0;
}

ul li {
	padding: .8em;
	margin: .25em;

	background-color: var(--color-ball);
	border-radius: 100%;

	color: var(--color-main-background);
}

button {
	width: 6em;
	height: auto;

	margin: .6em;
	padding: .5em;

	font-size: 1.2em;
	border: 0;

	background-color: var(--color-button);
	border-radius: 20%/50%; /* two values provide pill-shape */
	box-shadow: 0 .4em var(--color-shadow);
}

/* Aside: list of bingocards */

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2; /* places above all content */

	transform: translateY(80%); /* moves aside 80% down (partly out of viewport) */


	background-color: var(--color-mycards-background);
}

aside.showList { /* will push aside upwards when JS event */
	transform: translateY(10%);
}

aside button {
	font-size: 1em;
}





/****************/
/* MEDIA QUERIES*/
/****************/
@media only screen and (min-width: 550px) {
	body {
		flex-direction: row;	
		justify-content: flex-start;
		align-items: flex-start;
	}

	section {
		width: 50vw;
	}

	button {
		margin: 3em 0 2em 0;
	}

	aside {
		position: relative;
		height: 100vw;
		width: 50vw;

		top: initial;
		bottom: initial;
		left: initial;
		right: initial;

		transform: translateY(0);
	}

}