/*********/
/* FONTS */
/*********/



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#FFF;
	--color-main-background:#3A0CA3;
	--color-mycards-background:#4CC9F0;

	--color-bingo: #F72585;
	--color-party: #4CC9F0;
	--color-ball: #FFD000;
	--color-shadow: #2B0F6A;
	--color-button: #F72585;

	--color-bingo-card-text: #2B0F6A;
	--color-bingo-card-stamp: #FFD000;
	--color-bingo-card-background: #FFF;
	--color-bingo-card-header: #F72585;

}





/********/
/* BODY */
/********/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;

  	color: var(--color-main);
  	background-color: var(--color-main-background);
}

/* jouw code */
h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 2.75em;

	margin: .2em 0 0 0;

	text-shadow: 0 .2em .2em var(--color-shadow);
}

h1 span:first-of-type { /* BINGO */
	color: var(--color-bingo);
}

h1 span:nth-of-type(2) { /* PARTY */
	font-family: calgary-script-ot, sans-serif;
	font-weight: 400;
	color: var(--color-party);

	transform: translateY(-.6em);
}

h1 span:first-of-type, 
h2, 
h3,
button,
li {
	font-family: sofia-pro-soft, sans-serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	margin: .5em 0; /* margin top&bottom but not sides */

	font-size: clamp(1.8em, 6vw, 2em); /* clamp font-size for h2, max 2em*/
}

h3 { /* bingo ball */
	position: relative;

	width: 2em; /* ensures the ball is always round: even when the number only has 1 digit */
	height: fit-content;

	margin: .2em;
	padding: .3em .4em;

	font-size: 4em;
	background-color: var(--color-ball);
	border-radius: 100%;
}

h3::after {
	content: ''; /* needs content to show up */

	position: absolute;
	z-index: -1; /* position shadow behind the bingo ball */
	bottom: -.25em;
	left: 0;
	right: 0;

	width: 2em;
	height: .6em;
	border-radius: 100%;
	background-color: var(--color-shadow);
}

/* SECTION with number ball */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none; /* remove list style from ul */

	padding: 0;
}

ul li {
	padding: .8em;
	margin: .25em;

	background-color: var(--color-ball);
	border-radius: 100%;

	color: var(--color-main-background);
}

button {
	width: 6em;
	height: auto;
	margin: .6em;
	padding: .5em;

	font-size: 1.2em;

	border: 0;
	border-radius: 20%/50%; /* two values make pill-shaped button */
	background-color: var(--color-button);
	box-shadow: 0 .4em var(--color-shadow);
}

/* ASIDE: list of bingocards */
aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2; /* places above all content */

	transform: translateY(80%); /* moves aside 80% down (partly out of viewport) */
	transition: .25s; /* transition for opening menu */

	background-color: var(--color-mycards-background);
}

aside.showList { /* will push aside upwards when JS event */
	transform: translateY(10%);
}

aside button {
	font-size: 1em;
}



/* TABLE (BINGO CARD) */
table,
tr,
th,
td {
	margin: 0;
	padding: 0;

	line-height: 2em;

	border-collapse: collapse;
	/* border: 2px var(--color-bingo-card-border); */
}

table {
	width: 15em;

	font-family: sofia-pro-soft, sans-serif;
	font-weight: 700;
	text-align: center;

	border: none;
	background-color: var(--color-bingo-card-background);
	color: var(--color-bingo-card-text);
}

table tr {
	text-transform: uppercase;
}

table tr:first-of-type {
	background-color: var(--color-bingo-card-header);
}

table tr th,
table tr td {
	width: 2.6em;
	height: 3em;
}

table tr td {
	cursor: pointer;

	transition: .2s; /* transition helps stamp to fade in */
}


table tr td.stamp { /* this class is added with JS when clicked */
	background-color: var(--color-bingo-card-stamp);
	border-radius: 100%;
}





/**************/
/* ANIMATIONS */
/**************/

/* h3.roll {
	animation: ball-rolls .5s 1 ease-in;
}

@keyframes ball-rolls {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(2em);
	}
	45% {
		transform: translateY(0);
	}
	65% {
		transform: translateY(1em);
	}
	100% {
		transform: translateY(0);
	}
} */




/****************/
/* MEDIA QUERIES*/
/****************/
@media only screen and (min-width: 550px) {
	body {
		flex-direction: row;	
		justify-content: flex-start;
		align-items: flex-start;
	}

	section {
		width: 50vw;
	}

	button {
		margin: 3em 0 2em 0;
	}

	aside {
		position: relative;
		height: 100vw;
		width: 50vw;

		top: initial;
		bottom: initial;
		left: initial;
		right: initial;

		transform: translateY(0%);
	}

	aside.showList {
		transform: translateY(0%);
	}

}