/*********/
/* FONTS */
/*********/

/* lego font */
@font-face {
	font-family: "legothick";
	src: url("../fonts/Legothick.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* google font */
@font-face {
	font-family: "Product Sans";
	src: url("../fonts/Product\ Sans\ Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  	box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* lego: set colors for individual blocks */
	--color-lego-text:#111; /* text color */
	--color-lego-background:rgb(253, 224, 224); /* background color */
	--color-lego-text-border: #FFF; /* text border (text-shadow) */
	
	--color-l-block: #EF476F;
	--color-e-block: #FFD166;
	--color-g-block: #06D6A0;
	--color-o-block: #229EC7;

	/* google: set colors for letters */
	--color-google-background: #FFF;

	--color-letter-g: #3399FE;
	--color-letter-o1-e: #FE0000;
	--color-letter-o2: #FFC000;
	--color-letter-l: #00AF50;
}


/* custom color palette for users who prefer dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		/* lego: set colors for individual blocks */
		--color-lego-background: rgb(0, 2, 35);
		--color-lego-text-border: #eee;

		--color-l-block: #FA3664;
		--color-e-block: #F8C755;
		--color-g-block: #00B182;
		--color-o-block: #157FA2;

		/* google: set colors for letters */
		--color-google-background: rgb(86, 86, 86);

		--color-letter-g: #3399FE;
		--color-letter-o1-e: #FE0000;
		--color-letter-o2: #FFC000;
		--color-letter-l: #00AF50;

	}
}





/********/
/* BODY */
/********/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100vh;
	
	margin: 0;

}

section {
	width: 100vw;
	height: 50vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

/** LEGO **/
/* STYLES */

section:first-of-type {
	font-family: "legothick", sans-serif;
	text-transform: uppercase;

	color:var(--color-lego-text);
	background-color:var(--color-lego-background);
}


section:first-of-type h1 {	
	position: relative;

	margin: 0;

	font-size: clamp(2em, 6vmin, 2.5em);
	letter-spacing: -.1em;

	/* white outline for the text using a stacked textshadow */
	text-shadow: .05em .05em var(--color-lego-text-border), -.05em -.05em var(--color-lego-text-border), .05em -.05em var(--color-lego-text-border), -.05em .05em var(--color-lego-text-border);
}

/* h1::before {
	content: 'play';

	position: absolute; 
	top: 6em;
	right: 0;

	cursor: pointer;

	background: var(--color-button);
	border-radius: 20%;

	padding: .5em .6em .5em .5em;
	margin: .5em;

	font-size: 1em;

	box-shadow: 4px 6px 14px 6px var(--color-button-shadow);
}

h1:hover::before {
	background: var(--color-button-hover);
	box-shadow: 4px 6px 14px 6px var(--color-button-shadow-hover);
} */


section:first-of-type h1 span {
	position: absolute; 

	padding: .5em .6em .5em .5em;

	background: var(--color-background);
}

/* before and after pseudoelements create top squares on blocks */
section:first-of-type h1 span::before {
	content: ''; /* include for the shape to show up */

	position: absolute; 
	top: .25em;
	right: -.25em;
	width: .5em;
	height: .5em;

	background: var(--color-text);

	border-radius: 10%; /* round off corners */
}

section:first-of-type h1 span::after {
	content: ''; /* include for the shape to show up */

	position: absolute;
	bottom: .25em;
	right: -.25em;
	width: .5em;
	height: .5em;
	
	background: var(--color-text);

	border-radius: 10%;
}

section:first-of-type h1 span:first-of-type {
	z-index: 1; /* positions l block as first layer (1) */
	right: 1.4em;

	transform: rotate(-90deg);

	background: var(--color-l-block);
}

section:first-of-type h1 span:first-of-type::before, 
section:first-of-type h1 span:first-of-type::after {
	background: var(--color-l-block);
}

section:first-of-type h1 span:nth-of-type(2) {
	z-index: 2; /* positions e block as second layer (2) */
	right: 1.4em;
	bottom: -0.5em;

	transform: rotate(-90deg);

	background: var(--color-e-block);
}

section:first-of-type h1 span:nth-of-type(2)::before, 
section:first-of-type h1 span:nth-of-type(2)::after {
	background: var(--color-e-block);
}

section:first-of-type h1 span:nth-of-type(3) {
	z-index: 3; /* positions g block as third layer (3) */

	transform: rotate(-150deg);
	right: -1em;
	bottom: -1.5em;

	background: var(--color-g-block);
}

section:first-of-type h1 span:nth-of-type(3)::before, 
section:first-of-type h1 span:nth-of-type(3)::after {
	background: var(--color-g-block);
}

section:first-of-type h1 span:nth-of-type(4) {
	z-index: 4; /* positions o block as fourth layer (4) */
	right: -3.05em;

	transform: rotate(-90deg);

	background: var(--color-o-block);
}

section:first-of-type h1 span:nth-of-type(4)::before, 
section:first-of-type h1 span:nth-of-type(4)::after {
	background: var(--color-o-block);
}


/** GOOGLE **/
/** STYLES **/
section:nth-of-type(2) {
	font-family: "Product Sans", sans-serif;
	background-color: var(--color-google-background);
}

section:nth-of-type(2) h1 {
	margin: 0;

	font-size: clamp(3em, 8vmin, 4em);
	text-align: center;
	letter-spacing: -.05em;
	white-space: nowrap;
}

section:nth-of-type(2) h1 span {
	position: relative;

	display: inline-block; /* makes me able to transform the span*/
}

/* color letters individually */
section:nth-of-type(2) h1 span:first-of-type,
section:nth-of-type(2) h1 span:nth-of-type(4) {
	color: var(--color-letter-g);
}

section:nth-of-type(2) h1 span:nth-of-type(2),
section:nth-of-type(2) h1 span:nth-of-type(6) {
	color: var(--color-letter-o1-e);
}

section:nth-of-type(2) h1 span:nth-of-type(3) {
	color: var(--color-letter-o2);
}

section:nth-of-type(2) h1 span:nth-of-type(5) {
	color: var(--color-letter-l);
}

section:nth-of-type(2) h1 span:nth-of-type(2) {
	position: relative; /* position relative on the letter o for the animation*/
	z-index: 5; /* also position to the top*/
}

section:nth-of-type(2) h1 span:nth-of-type(2)::after {
	content: '';

	position: absolute; 
	bottom: 0;
	left: .225em;

	width: .125em;
	height: .3em;
	background: var(--color-letter-o1-e);

	/* opacity: 0; /* make invisible so it can appear in animation */
}



/**************/
/* ANIMATIONS */
/**************/

/* ANIMATION 1: */
/* LEGO ANIMATION */

/* specify animations for every letter and combination */
section:first-of-type:hover  h1 {
	animation: fall-lego-stack .8s 1 4s ease-in forwards,
	shake-lego-stack .5s 1 5s normal forwards;
}

/* Block L */
section:first-of-type:hover span:first-of-type {
	animation: break-lego-stack-l 1.2s 1 5.5s ease-out forwards;
}

/* Block E */
section:first-of-type:hover span:nth-of-type(2) {
	animation: break-lego-stack-e 1.3s 1 5.5s ease-out forwards;
}

/* Block G */
section:first-of-type:hover span:nth-of-type(3) {
	animation: fall-g-block .3s 1 .5s ease-in-out forwards,
	move-g-block-left .5s 1 2.2s ease-in-out forwards,
	stack-lego-blocks-g .8s 1 3s cubic-bezier(.87,.38,1,.99) forwards,
	break-lego-stack-g 1.3s 1 5.5s ease-out forwards;	
}

/* Block O */
section:first-of-type:hover span:nth-of-type(4) {
	animation: move-o-block-right .5s 1 .5s ease-out forwards, 
	stack-o-block .8s 1 1.2s cubic-bezier(.87,.38,1,.99) forwards,
	move-o-block-left .5s 1 2.2s ease-in-out forwards,
	stack-lego-blocks-o .8s 1 3s cubic-bezier(.87,.38,1,.99) forwards,
	break-lego-stack-o 1.2s 1 5.5s ease-out forwards;
}


/* KEYFRAMES LEGO ANIMATION (step by step) */

/* step 1: moves o block right */
@keyframes move-o-block-right {
	0% {
		transform: rotate(-90deg) translateY(0);
	}
	80% {
		transform: rotate(-90deg) translateY(1em); /* use translateY to position on horizontal axis, because element is rotated sideways */
	}
	100% {
		transform: rotate(-90deg) translateY(.8em);
	}
}


/* step 2: g block falls on floor */
@keyframes fall-g-block {
	0% {
		transform: rotate(-140deg) translate(0);
	}
	100% {
		transform: rotate(-90deg) translate(-.4em, .4em);
	}
}


/* step 3: o block jumps on g block to stack */
@keyframes stack-o-block {
	0% {
		transform: rotate(-90deg) translate(0, .8em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(0, .8em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(3em, .1em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(1.45em, -1.65em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(1.45em, -1.65em) scale(1, 1);
	}
}


/* step 4: g block moves left with o block until it collides with le-stack */
@keyframes move-g-block-left {
	0% {
		transform: rotate(-90deg) translate(-.4em, .4em);
	}
	100% {
		transform: rotate(-90deg) translate(-.4em, -0.45em);
	}
}

/* step 4: o block moves left with g block until it collides with le-stack */
@keyframes move-o-block-left {
	0% {
		transform: rotate(-90deg) translate(1.45em, -1.65em);
	}
	100% {
		transform: rotate(-90deg) translate(1.45em, -2.5em);
	}
}


/* step 5: go-stack jumps onto le-stack to stack all of them on top (g block) */
@keyframes stack-lego-blocks-g {
	/* move o block up together with g block */
	0% {
		transform: rotate(-90deg) translate(-.4em, -0.45em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(-.1em, -0.45em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(2.8em, -1.85em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(2.5em, -2.37em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(2.5em, -2.37em) scale(1, 1);
	}
}

/* step 5: go-stack jumps onto le-stack to stack all of them on top (o block) */
@keyframes stack-lego-blocks-o {
	/* move o block up together with g block */
	0% {
		transform: rotate(-90deg) translate(1.45em, -2.5em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(1.45em, -2.5em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(4.75em, -3.85em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(4.45em, -4.4em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(4.45em, -4.4em) scale(1, 1);
	}
}


/* step 6: lego stack falls over to the right side */
@keyframes fall-lego-stack {
	0% {
		transform: rotate(0) translate(0, 0);
	}
	100% {
		bottom: 0;
		transform-origin: bottom left; /* stack circles around origin */
		transform: rotate(90deg) translate(2.9em, -.6em);
	}
}


/* step 7: lego stack shakes from left to right */
@keyframes shake-lego-stack {
	0% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	20% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	40% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	60% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	70% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	80% {
		transform: translate(-.6em, 2.9em) rotate(90deg);
	}
	90% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	100% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
}


/* step 8: lego stack breaks apart (L) and falls in place */
@keyframes break-lego-stack-l {
	0% {
		transform: translate(0) rotate(90deg) scale(1);
	}
	50% {
		transform: translate(-4em, -1em) rotate(180deg) scale(0.95);
	}
	70% {
		transform: translate(.1em, -1em) rotate(190deg) scale(1);
	}
	85% {
		transform: translate(-1em, 0) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(.2em, .15em) rotate(180deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (E) and falls in place */
@keyframes break-lego-stack-e {
	0% {
		transform: translate(0) rotate(90deg) scale(1);
	}
	35% {
		transform: translate(-5em, -1em) rotate(90deg) scale(1.05);
	}
	60% {
		transform: translate(.1em, -1em) rotate(200deg) scale(1);
	}
	85% {
		transform: translate(-4em, .8em) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(-1.25em, 1.55em) rotate(180deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (G) and falls in place */
@keyframes break-lego-stack-g {
	0% {
		transform: translate(-2em, -2em) rotate(0deg) scale(1);
	}
	50% {
		transform: translate(-7em, -4em) rotate(0deg) scale(0.95);
	}
	60% {
		transform: translate(-2.6em, -2.4em) rotate(90deg) scale(1);
	}
	85% {
		transform: translate(-4em, -1.8em) rotate(90deg) scale(1);
	}
	100% {
		transform: translate(-2.6em, -1.8em) rotate(120deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (O) and falls in place */
@keyframes break-lego-stack-o {
	0% {
		transform: translate(-4em, -4em) rotate(90deg) scale(1);
	}
	40% {
		transform: translate(-7em, -5em) rotate(90deg) scale(1.05);
	}
	60% {
		transform: translate(-4.25em, -3em) rotate(-90deg) scale(1);
	}
	90% {
		transform: translate(-6em, -4.25em) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(-4.25em, -4.25em) rotate(180deg) scale(1);
	}
}

/* ANIMATION 2: */
/* GOOGLE ANIMATION */

section:nth-of-type(2):hover span:nth-of-type(2) {
	animation: scale-magnifier .5s 1 ease-in forwards,
	move-magnifier-right 2.5s 1 .7s ease-in-out forwards,
	move-magnifier-back 1.5s 1 3.2s ease-in-out forwards;
}

/* section:nth-of-type(2):hover span:nth-of-type(2)::before {
	animation: fade-in .2s 1 ease-in forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

@keyframes scale-magnifier {
	0% {
		transform: scale(1) rotate(0deg);
	}
	100% {
		transform: scale(2) rotate(20deg);
	}
}

@keyframes move-magnifier-right {
	0% {
		transform: scale(2) rotate(20deg) translate(0);
	}
	25% {
		transform: scale(2) rotate(20deg) translate(-.4em, 0);
	}
	50% {
		transform: scale(2) rotate(20deg) translate(.3em, -.1em);
	}
	60% {
		transform: scale(2.5) rotate(10deg) translate(.25em, -.1em);
	}
	70% {
		transform: scale(2.5) rotate(10deg) translate(.25em, -.1em);
	}
	100% {
		transform: scale(2) rotate(-20deg) translate(1.1em, .35em);
	}
}

@keyframes move-magnifier-back {
	0% {
		transform: scale(2) rotate(-20deg) translate(1.1em, .35em);
	}
	60% {
		transform: scale(2.2) rotate(20deg) translate(.6em, -.3em);
	}
	100% {
		transform: scale(1) rotate(0deg) translate(0);
	}
}



/* ****************/
/* MEDIA QUERIES */
/*****************/

/* user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
	/* selects all animations and pauses them */
	section:first-of-type:hover  h1,
	section:first-of-type:hover span:first-of-type,
	section:first-of-type:hover span:nth-of-type(2),
	section:first-of-type:hover span:nth-of-type(3),
	section:first-of-type:hover span:nth-of-type(4),
	section:nth-of-type(2):hover span:nth-of-type(2) {
		animation-play-state: paused;
	}
}

@media only screen and (min-width: 600px) {
	body {
		flex-direction: row;
		justify-content: space-evenly;
	}

	section {
		width: 50vw;
		height: 100vh;
	}
}