/********/
/* FONT */
/********/
@font-face {
	font-family: "legothick";
	src: url("../fonts/Legothick.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  	box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111; /* text color */
	--color-background:#eee; /* background color */
	--color-text-border: white; /* text border (text-shadow) */

	/* set colors for individual blocks */
	--color-l-block: #EF476F;
	--color-e-block: #FFD166;
	--color-g-block: #06D6A0;
	--color-o-block: #229EC7;
}





/********/
/* BODY */
/********/
body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 90vh; /* idk how this works, if height is 100 h1 is not centered properly */
	
	margin: 0;
	
	background-color:var(--color-background);
  	font-family: "legothick", sans-serif;
  	text-transform: uppercase;
  	color:var(--color-text);
}

h1 {	
	position: relative;

	margin: 0;
	letter-spacing: -.1em;

	/* white outline for the text using a stacked textshadow */
	text-shadow: .05em .05em var(--color-text-border), -.05em -.05em var(--color-text-border), .05em -.05em var(--color-text-border), -.05em .05em var(--color-text-border);
}


h1 span {
	position: absolute; 

	padding: .5em .6em .5em .5em;
	background: var(--color-background);
}

/* before and after pseudoelements create top squares on blocks */
h1 span::before {
	content: ''; /* include for the shape to show up */

	position: absolute; 
	top: .25em;
	right: -.25em;
	width: .5em;
	height: .5em;

	background: var(--color-text);

	border-radius: 10%;
}

h1 span::after {
	content: ''; /* include for the shape to show up */

	position: absolute;
	bottom: .25em;
	right: -.25em;
	width: .5em;
	height: .5em;
	
	background: var(--color-text);

	border-radius: 10%;
}

h1 span:first-of-type {
	z-index: 1; /* positions l block as first layer (1) */
	right: 1.4em;

	transform: rotate(-90deg);

	background: var(--color-l-block);
}

h1 span:first-of-type::before, 
h1 span:first-of-type::after {
	background: var(--color-l-block);
}

h1 span:nth-of-type(2) {
	z-index: 2; /* positions e block as second layer (2) */
	right: 1.4em;
	bottom: -0.5em;

	transform: rotate(-90deg);

	background: var(--color-e-block);
}

h1 span:nth-of-type(2)::before, 
h1 span:nth-of-type(2)::after {
	background: var(--color-e-block);
}

h1 span:nth-of-type(3) {
	z-index: 3; /* positions g block as third layer (3) */

	transform: rotate(-150deg);
	right: -1em;
	bottom: -1.5em;

	background: var(--color-g-block);
}

h1 span:nth-of-type(3)::before, 
h1 span:nth-of-type(3)::after {
	background: var(--color-g-block);
}

h1 span:nth-of-type(4) {
	z-index: 4; /* positions o block as fourth layer (4) */
	right: -3.05em;

	transform: rotate(-90deg);

	background: var(--color-o-block);
}

h1 span:nth-of-type(4)::before, 
h1 span:nth-of-type(4)::after {
	background: var(--color-o-block);
}





/**************/
/* ANIMATIONS */
/**************/

body:hover h1 {
	animation: fall-lego-stack .8s 1 4s ease-in forwards,
	shake-lego-stack .6s 1 5s normal forwards;
}

/* Letter L */
body:hover span:first-of-type {
	animation: break-lego-stack-l 1.2s 1 5.4s ease-out forwards;
}


/* Letter E */
body:hover span:nth-of-type(2) {
	animation: break-lego-stack-e 1.3s 1 5.6s ease-out forwards;
}

/* Letter G */
body:hover span:nth-of-type(3) {
	animation: fall-g-block .3s 1 .5s ease-in-out forwards,
	move-g-block-left .5s 1 2.2s ease-in-out forwards,
	stack-lego-blocks-g .8s 1 3s ease-in forwards,
	break-lego-stack-g 1.3s 1 5.6s ease-in-out forwards;
	
}

/* Letter O */
body:hover span:nth-of-type(4) {
	animation: move-o-block-right .5s 1 .5s ease-out forwards,
	stack-o-block .8s 1 1.2s cubic-bezier(.87,.38,1,.99) forwards,
	move-o-block-left .5s 1 2.2s ease-in-out forwards,
	stack-lego-blocks-o .8s 1 3s ease-in forwards,
	break-lego-stack-o 1.2s 1 5.4s normal forwards;

}

/* KEYFRAMES LEGO ANIMATION (step by step) */

/* step 1: moves o block right */
@keyframes move-o-block-right {
	0% {
		transform: rotate(-90deg) translateY(0);
	}
	80% {
		transform: rotate(-90deg) translateY(1em); /* use translateY to position on horizontal axis, because element is rotated sideways */
	}
	100% {
		transform: rotate(-90deg) translateY(.8em);
	}
}

/* step 2: g block falls on floor */
@keyframes fall-g-block {
	0% {
		transform: rotate(-140deg) translate(0);
	}
	100% {
		transform: rotate(-90deg) translate(-.4em, .4em);
	}
}


/* step 3: o block jumps on g block to stack */
@keyframes stack-o-block {
	0% {
		transform: rotate(-90deg) translate(0, .8em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(0, .8em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(3em, .1em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(1.45em, -1.65em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(1.45em, -1.65em) scale(1, 1);
	}
}


/* step 4: g block moves left with o block until it collides with le-stack */
@keyframes move-g-block-left {
	0% {
		transform: rotate(-90deg) translate(-.4em, .4em);
	}
	100% {
		transform: rotate(-90deg) translate(-.4em, -0.45em);
	}
}

/* step 4: o block moves left with g block until it collides with le-stack */
@keyframes move-o-block-left {
	0% {
		transform: rotate(-90deg) translate(1.45em, -1.65em);
	}
	100% {
		transform: rotate(-90deg) translate(1.45em, -2.5em);
	}
}


/* step 5: go-stack jumps onto le-stack to stack all of them on top (g block) */
@keyframes stack-lego-blocks-g {
	/* move o block up together with g block */
	0% {
		transform: rotate(-90deg) translate(-.4em, -0.45em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(-.1em, -0.45em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(2.8em, -1.85em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(2.5em, -2.37em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(2.5em, -2.37em) scale(1, 1);
	}
}

/* step 5: go-stack jumps onto le-stack to stack all of them on top (o block) */
@keyframes stack-lego-blocks-o {
	/* move o block up together with g block */
	0% {
		transform: rotate(-90deg) translate(1.45em, -2.5em) scale(1, 1);
	}
	10% {
		transform: rotate(-90deg) translate(1.45em, -2.5em) scale(0.8, 1.2);
	}
	50% {
		transform: rotate(-90deg) translate(4.75em, -3.85em) scale(1, 1);
	}
	70% {
		transform: rotate(-90deg) translate(4.45em, -4.4em) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translate(4.45em, -4.4em) scale(1, 1);
	}
}


/* step 6: lego stack falls over to the right side */
@keyframes fall-lego-stack {
	0% {
		transform: rotate(0) translate(0, 0);
	}
	100% {
		bottom: 0;
		transform-origin: bottom left; /* stack circles around origin? */
		transform: rotate(90deg) translate(2.9em, -.6em);
	}
}


/* step 7: lego stack shakes from left to right */
@keyframes shake-lego-stack {
	0% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	20% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	40% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	60% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	70% {
		transform: translate(.6em, 2.9em) rotate(90deg);
	}
	80% {
		transform: translate(-.6em, 2.9em) rotate(90deg);
	}
	90% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
	100% {
		transform: translate(-1em, 2.9em) rotate(90deg);
	}
}


/* step 8: lego stack breaks apart (L) and falls in place */
@keyframes break-lego-stack-l {
	0% {
		transform: translate(0) rotate(90deg) scale(1);
	}
	50% {
		transform: translate(-4em, -1em) rotate(180deg) scale(0.95);
	}
	70% {
		transform: translate(.1em, -1em) rotate(190deg) scale(1);
	}
	85% {
		transform: translate(-1em, 0) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(.2em, .15em) rotate(180deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (E) and falls in place */
@keyframes break-lego-stack-e {
	0% {
		transform: translate(0) rotate(90deg) scale(1);
	}
	25% {
		transform: translate(-4em, -1em) rotate(90deg) scale(1.1);
	}
	60% {
		transform: translate(.1em, -1em) rotate(200deg) scale(1);
	}
	85% {
		transform: translate(-4em, .8em) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(-1.25em, 1.6em) rotate(180deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (G) and falls in place */
@keyframes break-lego-stack-g {
	0% {
		transform: translate(-2em, -2em) rotate(90deg) scale(1);
	}
	40% {
		transform: translate(-9em, -4em) rotate(90deg) scale(0.95);
	}
	60% {
		transform: translate(-2.6em, -2.4em) rotate(90deg) scale(1);
	}
	90% {
		transform: translate(-4em, -1.8em) rotate(90deg) scale(1);
	}
	100% {
		transform: translate(-2.6em, -1.8em) rotate(120deg) scale(1);
	}
}

/* step 8: lego stack breaks apart (O) and falls in place */
@keyframes break-lego-stack-o {
	0% {
		transform: translate(-4em, -4em) rotate(90deg) scale(1);
	}
	40% {
		transform: translate(-8em, -5em) rotate(90deg) scale(1.05);
	}
	60% {
		transform: translate(-4.25em, -3em) rotate(-90deg) scale(1);
	}
	90% {
		transform: translate(-6em, -4.25em) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(-4.25em, -4.25em) rotate(180deg) scale(1);
	}
}





/*****************/
/* MEDIA QUERIES */
/*****************/

@media (prefers-reduced-motion) {
/* media query for prefers reduced motion */

}